name: Release binaries

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    permissions: write-all
    strategy:
      matrix:
        # build and publish in parallel: linux/amd64
        goos: [linux, darwin]
        goarch: [amd64, arm64, arm]
        exclude:
          - goos: darwin
            goarch: arm
    steps:
      - uses: actions/checkout@v2
      - uses: wangyoucao577/go-release-action@v1.53
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          project_path: "./cmd/ipkvm-watch"
          binary_name: "ipkvm-watch"
          extra_files: LICENSE README.md indicators.yaml
